<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Annapurnas</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">K2T</h5>
        <p class="card-text">Check data of K2T Cards</p>
        <a href="/k2ts" class="btn btn-dark">Details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">K2C</h5>
        <p class="card-text">Check data of K2C Cards</p>
        <a href="/k2cs" class="btn btn-dark">Details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">K2X</h5>
        <p class="card-text">Check data of K2X Cards</p>
        <a href="/k2xs" class="btn btn-dark">Details</a>
      </div>
    </div>
  </div>
</div>
