<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">
        Export
      </button>
    </div>
  </div>
</div>

<!-- Chart -->
<div class="table-responsive" id="chartID">
  <canvas id="totalHardwareChart" width="700" height="200"></canvas>
</div>
<hr />
<div class="table-responsive" id="chartID">
  <canvas
    id="FailAndPass"
    width="900"
    height="200"
    style="margin-top: 50px; margin-bottom: 200px"
  ></canvas>
</div>

<!-- <h2>Motherboards</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm" id="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody id="tbody"></tbody>
            </table>
          </div> -->
